* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    /* height: 300vh; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100vw;

}

header {
    position: relative;
    width: 100vw;
    /* height: 120vh; */
}

.wrapper {
    background-color: rgba(250, 250, 250, 0.3);
    padding-left: 100px;
}

.nav__bar {
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 5fr 5fr 2fr;
    align-items: center;

}

.nav__bar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0 5px 0 30px;
    /* background-color: red; */
}

.nav__bar a {
    line-height: 72px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    text-decoration: none;
    padding: 0 15px 5px 15px;
}

.nav__bar a:hover {
    border-bottom: 2px solid #333;
    color: #222;
}

.photo-logo {
    display: flex;
    justify-content: left;
}

img {
    width: 30px;
    padding-right: 10px;
}

.photo {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#facebook {
    background-image: url(../assets/facebook-brands.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 30px;
    border-bottom: none;
}

#instagram {
    background-image: url(../assets/instagram-brands.svg);
    background-size: contain;
    background-repeat: no-repeat;
    border-bottom: none;
}

/* home */

#app .video-container {
    object-fit: cover;
    /* position: absolute; */
    /* top: 20vh; */
    /* left: 0; */
    /* z-index: -1; */
}

#app #background-video {
    width: 100%;
    height: auto;
    overflow-y: hidden;
    position: relative;
}

#app .home__wrap {
position: absolute;
top: 65%;
left: 10%;
width: 35vw;
font-family: 'Montserrat', sans-serif;
}

#app .home__wrap p {
    /* text-align: center; */
    color: white;
    font-size: 80px;
    font-weight: 200;
    letter-spacing: .25rem;
}

/* about */

#app .about__me {
    position: relative;
    margin-bottom: 40px;
    background-image: url(../assets/about.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    font-family: 'Montserrat', sans-serif;
}

#app .about__wrap {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
}

#app h1 {
    margin-bottom: 30px;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    color: white;
    letter-spacing: .25rem;
}

#app .about__me p {
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 200;
    letter-spacing: .25rem;
}

#app .block__text {
    padding: 40px 60px;
}

#app .text__about {
    width: 55vw;
    margin: 0 auto;
}

#app .text__about h2 {
    margin-bottom: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 300;
    letter-spacing: .25rem;
    color: #2d2d2d;
}

#app .text__about p {
    margin-top: 24px;
    font-family: 'Lora', sans-serif;
    font-size: 13px;
    letter-spacing: .02rem;
    line-height: 2.33;
    color: #3a3a3a;
}

#app .block__button {
    padding: 40px 60px;
}

#app .button__touch {
    width: 100%;
    line-height: 1.5;
    text-align: center;

}

#app .button__touch a {
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
    padding: 14px 30px;
    font-size: .75rem;
    letter-spacing: .2rem;
    color: #fff;
    text-decoration: none;
    background-color: #519587;
}

/* kontakt */

#app .wrap__contact {
    height: 80vh;
    margin: 20px 0;
    position: relative;
}

#app .backgroud {
    position: absolute;
    top: 30vh;
    left: 0;
    width: 100%;
    height: 20vh;
    /* background-color: rgb(212, 238, 247); */
    background-color: #EAE3C9;
}

#app .form__contact {
    position: absolute;
    top: 5vh;
    left: 15%;
    width: 35%;
    height: 70vh;
    background-color: #fff;
    box-shadow: 0 0 1em #ccc;
}

#app .form {
    height: 90%;
}

#app .form h2 {
    font-family: 'Montserrat', sans-serif;
    padding: 40px 20px;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: .25rem;
    text-align: center;
    text-transform: uppercase;
}

#app .form input,
#app .form button,
#app .form textarea {
    display: block;
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 12px;
    padding: 5px;
    border: none;
    border-bottom: 2px solid black;

}

#app .form input {
    height: 30px;
}

#app .form textarea {
    height: 80px;
}

#app .form button {
    font-size: 14px;
    line-height: 40px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    margin-bottom: 50px;
    width: 50%;
}

#app .wrap__contact .contact__img {
    position: absolute;
    top: 0;
    left: 35%;
    height: 100%;
    width: 60%;
    background-image: url(../assets/contact.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

#app .contact {
    width: 90%;
    margin: 30px auto 10px auto;
    padding: 10px 0;
    border-top: 2.5px solid #333;
    text-align: center;
}

#app .contact p {
    line-height: 45px;
}

/* footer */

footer {
    width: 50%;
    margin: 0 auto;
    border-top: 2.5px solid #333;
}

footer p {
    color: black;
    text-align: center;
    padding: 2rem 0;
    font-size: 20px;
}